@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar tipis dan elegan */
.thin-scroll::-webkit-scrollbar {
  width: 4px; /* ubah ukuran di sini kalau mau lebih kecil/lumayan */
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4); /* warna abu halus */
  border-radius: 9999px;
}

.thin-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.6);
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent; /* biar nggak kelihatan track-nya */
}

/* Untuk Firefox */
.thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 116, 139, 0.4) transparent;
}
